<div mat-dialog-content >
  <div class="dialog-header">
    
    <h2 mat-dialog-title>Add Point</h2>
    
  </div>

  <form
    [formGroup]="pointAddForm"
    (ngSubmit)="add()"
    id="pointNameInput"
  >
    <div class="form-floating mb-3">
      <input
        formControlName="pointName"
        type="text"
        class="form-control rounded-3"
        id="pointName"
        placeholder="Nokta ismi"
        required
      />
      <label for="pointName">Point Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        formControlName="pointNumber"
        type="number"
        class="form-control rounded-3"
        id="pointNumber"
        placeholder="Point Number"
      />
      <label for="pointNumber">Point Number</label>
    </div>
    <div class="form-floating mb-3">
      <input
        formControlName="latitude"
        type="number"
        class="form-control rounded-3"
        id="latitude"
        placeholder="Latitude"
      />
      <label for="latitude">Latitude</label>
    </div>
    <div class="form-floating mb-3">
      <input
        formControlName="longitude"
        type="number"
        class="form-control rounded-3"
        id="longitude"
        placeholder="Longitude"
      />
      <label for="longitude">Longitude</label>
    </div>
    <button
      class="w-100 mb-2 btn btn btn-primary"
      type="submit"
      [disabled]="pointAddForm.invalid"
    >
      Add
    </button>
    <div mat-dialog-actions class="mat-dialog-actions">
      <button class="w-100 mb-2 btn btn btn-danger" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>

